<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>RevShop</display-name>

    <!-- Servlet Configuration -->
<servlet>
    <servlet-name>RoleSelectionServlet</servlet-name>
    <servlet-class>com.shoppingcart.servlet.RoleSelectionServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RoleSelectionServlet</servlet-name>
    <url-pattern>/RoleSelectionServlet</url-pattern>
</servlet-mapping>


    <!-- Servlet for Logout -->
        <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.shoppingcart.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.shoppingcart.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>userrole.jsp</welcome-file>
    </welcome-file-list>
</web-app>
</element>
